    <div class="tests">
        <!--TESTS-->
        <li> {{controllerTest}} </li>
        <li> {{serviceTest}} </li>
        <li> {{recipeListServiceTest}} </li>
        <li> {{singleRecipeServiceTest}} </li>
        <br/>
        <p> Hello World </p>
        <div class="tests">
            <button ng-click='combineMats(rawMat)'>test combineMats</button> {{rawMat}}
            <button ng-click='makeJson(testy, "name", "qty")'>test JsonMaker</button> <br/><br/>
            <p>Testy = {{testy}}</p>
            <p>jsonObject = {{shoppingJson}}</p>
        </div>
    </div>