
<!--<ul ng-repeat="sub in item.synths[1].tree" >
    <li>... {{sub.category_name}}: {{sub.name}}  x{{combinedQty = sub.quantity * iQty}}</li>
    <span ng-init='sName = sub.name'></span> <span ng-init="sQty = sub.quantity * iQty"><span  ng-init='raw(iName, iQty, sName, sQty, recipeBool)'></span>
</ul>
</li>-->


<div class="sub-recipe-materials-details-wrapper" ng-repeat='sub in synthID.tree'>
    <div class="sub-recipe-materials-qty">{{combinedQty = sub.quantity * iQty}}</div>
    <div class="sub-recipe-materials-icon"><img src="{{sub.icon}}" class="sub-mat-image"></div>
    <div class="sub-recipe-materials-name">{{sub.name}}</div>
    <span ng-init='sName = sub.name'></span> <span ng-init="sQty = sub.quantity * iQty"><span  ng-init='raw(iName, iQty, sName, sQty, recipeBool)'></span>
</div>
<br/>